.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-menu {
  background-color: #808080;
  height: auto;
  padding: auto;
  color: white;
}

.App-intro {
  font-size: large;
}

.Text{
  text-align: left;
}

.Text-menubar {
  background-color: #808080;
  height: auto;
  padding: auto;
  color: white;
}

.center{
  align-content: center;
}
.menubar{

  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float: left;
  display:flex;
  color: white;
  text-align: center;
  padding: auto;
  text-decoration: none;
  background-color: #111;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
